<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form method="POST" action="{{ url_for('reset_password', token=token) }}">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
